@using CH.CleanArchitecture.Presentation.Web.ViewModels.Orders
@model IndexViewModel

@{
    ViewBag.Title = "Orders";
    ViewBag.pTitle = "Orders";
    ViewBag.pageTitle = "CH.CleanArchitecture";
}

<partial name="_DatatablesCss" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="orders" class="table table-striped table-hover dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Tracking Number</th>
                            <th>Total Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.TrackingNumber</td>
                                <td>@order.TotalAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->