@model CreateUserViewModel
@inject CH.CleanArchitecture.Presentation.Web.Helpers.UserHelper _userHelper;
@{
    ViewBag.Title = L[ResourceKeys.Titles_NewUser];
    ViewBag.pTitle = L[ResourceKeys.Titles_NewUser];
    ViewBag.pageTitle = L[ResourceKeys.Titles_Users];
}
<partial name="_CrudCss" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Users" asp-action="Create" method="post">
                    <div class="form-group row mb-4">
                        <label asp-for="Username" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="Username" class="form-control">
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label asp-for="Name" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label asp-for="Surname" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="Surname" class="form-control">
                            <span asp-validation-for="Surname"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label asp-for="Email" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label asp-for="Password" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="Password" class="form-control">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label asp-for="PhoneNumber" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <input asp-for="PhoneNumber" class="form-control">
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label asp-for="Roles" class="col-form-label col-lg-2"></label>
                        <div class="col-lg-10">
                            <select asp-for="Roles" asp-items="@_userHelper.GetAvailableRoles()" class="form-control select2 select2-multiple" multiple="multiple" data-placeholder="@L[ResourceKeys.Labels_Choose]">
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">@L[ResourceKeys.Buttons_CreateUser]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CrudJS" />
}


