@inherits BaseComponent
<ModalTemplate Modal="@ModalInstance">
    <Body>
        <button @onclick="Cancel" class="btn btn-primary btn-lg">@NoCaption</button>
        <button @onclick="Ok" class="btn btn-danger btn-lg float-right">@YesCaption</button>
    </Body>
</ModalTemplate>