@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using CH.CleanArchitecture.Presentation.EventStoreWeb.Services
@inject EventStoreService _eventStoreService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Aggregate Name</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var singleEvent in _events)
            {
                <tr>
                    <td>@singleEvent.Name</td>
                    <td>@singleEvent.AssemblyTypeName</td>
                    <td>@singleEvent.AggregateName</td>
                    <td>@singleEvent.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<EventModel> _events;

    protected override void OnInitialized()
    {
        _events = _eventStoreService.GetEvents();
    }
}
