@model ChangePasswordModel
<form class="form-horizontal" asp-controller="UserProfile" asp-action="ChangePassword" method="post" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissable mb-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <div class="form-group">
    <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" type="password" class="form-control">
        <span asp-validation-for="OldPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" class="form-control">
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light">@L[ResourceKeys.Buttons_Save]</button>
        </div>
    </div>
</form>