<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">@ViewBag.pTitle</h4>
            <div class="d-none d-sm-block">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">@ViewBag.pageTitle</a></li>
                        <li class="breadcrumb-item active">@ViewBag.pTitle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->