
<meta charset="utf-8" />
<title>@ViewBag.Title | CH.CleanArchitecture - Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="" name="description" />
<meta content="Charalambos Hadjiantoniou" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">