<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="bin\Release\net5.0\CH.CleanArchitecture.Presentation.Web.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
				</environmentVariables>
			</aspNetCore>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="209715200" />
				</requestFiltering>
			</security>
		</system.webServer>

	</location>
</configuration>